*::-webkit-scrollbar {
    display: none;
}

* {
    user-select: none;
}

.navbar {
    margin: 10px 10px 0 10px;
    border-radius: 10px;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}

.top-margin {
    margin-top: 70px;
}

.no-decor {
    text-align: center;
    text-decoration: none;
}